services:
{{- range $name, $service := .Services }}
  {{ $name }}:
    {{- if $service.Image }}
    image: {{ $service.Image }}
    {{- end }}
    {{- if $service.Build }}
    build:
      context: {{ joinPath $name $service.Build.Context }}
      dockerfile: {{ joinPath $name $service.Build.Dockerfile }}
    {{- end }}
    {{- if $service.Command }}
    command:
      {{- range $service.Command }}
      - {{ substituteVars . }}
      {{- end }}
    {{- end }}
    {{- if $service.Ports }}
    ports:
      {{- range $service.Ports }}
      - {{ substituteVars . }}
      {{- end }}
    {{- end }}
    {{- if $service.Environment }}
    environment:
      {{- range $key, $val := $service.Environment }}
      {{ $key }}: "{{ substituteVars $val }}"
      {{- end }}
    {{- end }}
    {{- if $service.Healthcheck }}
    healthcheck:
      {{- if $service.Healthcheck.test }}
      test:
        {{- range $service.Healthcheck.test }}
        - {{ substituteVars . }}
        {{- end }}
      {{- end }}
      {{- if $service.Healthcheck.interval }}
      interval: {{ $service.Healthcheck.interval }}
      {{- else }}
      interval: 10s
      {{- end }}
      {{- if $service.Healthcheck.timeout }}
      timeout: {{ $service.Healthcheck.timeout }}
      {{- else }}
      timeout: 5s
      {{- end }}
      {{- if $service.Healthcheck.retries }}
      retries: {{ $service.Healthcheck.retries }}
      {{- else }}
      retries: 5
      {{- end }}
      {{- if $service.Healthcheck.start_period }}
      start_period: {{ $service.Healthcheck.start_period }}
      {{- else }}
      start_period: 5s
      {{- end }}
    {{- end }}
    {{- if $service.Volumes }}
    volumes:
      {{- range $service.Volumes }}
      - {{ substituteVars . }}
      {{- end }}
    {{- end }}
{{ end }}